body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1;
  }
  
 /* .card {
   border: none;
 } */
  
#dynamic-weather {

  background: linear-gradient(to right, blue, teal);color: white;
  padding: 10px;


}
#city-name{
  background: linear-gradient(to right, blue, teal);color: white;
 padding: 10px;
}

.forecast-card {
border: black solid 2px;
padding: 5px;
margin: 5px 40px;

}


.city-buttons {
  width:100%;
  background-color: #194d6c;
  border:none;
  color: #e5bbae;
  border-radius:50px;
  padding:10px;
  margin:7px 0;
  text-transform:capitalize;
}