body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1;
  }
  
 /* .card {
   border: none;
 } */
  
#dynamic-weather {

  background: linear-gradient(to right, blue, teal);color: white;
  padding: 10px;


}
#city-name{
  background: linear-gradient(to right, blue, teal);color: white;
 padding: 10px;
}

.forecast-card {
border: black solid 2px;
padding: 5px;
margin: 5px 40px;

}


.cityBtn {
  width:100%;
  background-color: #194d6c;
  color: black;
}